<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <!-- CUSTOM - HTTP MODULE FOR THE HTTP FLOW SYSTEM. Version for OLD NOT MIGRATED applications -->
  <!-- Either this or the following one -->
  <!-- See http://stackoverflow.com/questions/4209999/an-asp-net-setting-has-been-detected-that-does-not-apply-in-integrated-managed-p -->
  <system.web>
    <httpModules>
      <add name="HttpFlowModule" type="FW.HttpFlow.HttpFlowSystem, FW.HttpFlow"/>
    </httpModules>
  </system.web>

  <!-- CUSTOM - HTTP MODULE FOR THE HTTP FLOW SYSTEM. Version for NEW MIGRATED applications -->
  <!-- Either this or the previous one -->
  <!-- See http://stackoverflow.com/questions/4209999/an-asp-net-setting-has-been-detected-that-does-not-apply-in-integrated-managed-p -->
  <system.webServer>
    <modules>
      <add name="HttpFlowModule" type="FW.HttpFlow.HttpFlowSystem, FW.HttpFlow"/>
    </modules>
  </system.webServer>

  <!-- CUSTOM - APP SETTING FOR THE HTTP FLOW SYSTEM START PAGE -->
  <appSettings>
    <add key="FW.HttpFlow.HttpFlowSystem.StartPage" value="~/Default.aspx"/>
  </appSettings>

</configuration>
